A	{background-color:#ffff00; color:blue; font-family:arial; font-style:normal; text-decoration:none}
A:hover	{background-color:#fed547; color:red; font-family:arial; font-style:normal; text-decoration:none}
<!-- ver y6i -->
